body{
    background-color: rgb(224, 234, 234);
    font-family:'Montserrat', sans-serif;
    text-align: inherit;
    font-size: 1rem;
    margin: 0em;
}
/*  all pages container  */

.container{
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}
hr{
    border-color: beige;
    width: 300px;
    margin: 0 auto;
}

h1{
    color: rgb(34, 55, 149);
    text-transform: capitalize;
}
a{
    color: rgb(255, 254, 255);
    text-decoration: none;
    text-transform: capitalize;

}
.soft{
    color: brown;
    
}
a:hover{
color: rgb(230, 243, 201);
text-decoration: none;
text-transform: capitalize;
}
/*page header*/
.head{
    width: 100%;
    overflow: auto;
    background-color: rgb(38, 122, 122);
}
.logo{
    font-family: "ubuntu", sans-serif;
   float: left;
   margin: 20px 0px 15px 20px;
    font-size: 3rem;
    color: rgb(222, 222, 223);
    width: 25%;
}
.menu{
    background-color: rgb(38, 122, 122);
float: right;
  margin-right: 10px;
    text-align: 0.3rem;
    width:300px;
    height:30px;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:30px ;
   
}
img{
    border-radius: 50%;
    float: left;
    margin-right: 8%;
    margin-left: 5%;

}
.my-pict{
    background-color: rgb(237, 237, 235);
    border-style: solid;
    border-width: 3px;
    border-color: blueviolet;
    width: 70%;
    padding: 20px 0 20px 0;
    overflow: auto;
border: 2px;
border-color: black; 
}
.project{
    text-decoration: solid;
    color: rgb(155, 56, 3);
   
}

/* data 2 exercice */
.nom{
    color: blue;
    text-decoration: underline;
}
/*    .........Data 3 Jerry list  ...................*/
#jerry-list{
    color: rgb(33, 126, 207);
    font-size: large;
}
.favlist{
    text-decoration: underline;
}
#data3{
    color: brown;
}
.data3{
    color: rgb(55, 12, 68);
}

.div1{
background-color: rgb(255, 255, 255);
position: relative;
width: 90%;
height: 300px;
margin: 0px auto;
}
.div2{
    background-color: aquamarine;
    position:absolute;
    margin: 1em; 
    width: 25%;
    height: 200px;
}
.div3{
background-color: rgb(198, 32, 32);
position:absolute;
width: 60%;
margin-left: 30%;
margin-top: 1em ;
height: 100px;
}
.div4{
    background-color: black;
    position:fixed;
    margin-bottom: 0;
    width: 100px;
    height: 50px;
    }
.inp{
    background-color: rgb(46, 67, 185);
    color: rgb(246, 242, 242);
    padding-left: 30px;
    padding-right: 30px;

} 

.inp:hover{
    background-color: rgb(19, 20, 20);
    color: white;
 
}
input{
    background-color: antiquewhite;

}
button{
   
   
}
/*  footer style  */
#footer{
    background:rgb(38, 122, 122);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: gainsboro;
    font-size: 1rem;
   
}